.carousel-item {
    height: 200px;
}

.carousel-image-1 {
    background: url("https://images.pexels.com/photos/1775053/pexels-photo-1775053.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-size: cover;
}

.carousel-image-2 {
    background: url("https://images.pexels.com/photos/230743/pexels-photo-230743.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-size: cover;
}

.carousel-image-3 {
    background: url("https://images.pexels.com/photos/1586947/pexels-photo-1586947.jpeg?auto=compress&cs=tinysrgb&w=1200");
    background-size: cover;
}

.carousel-item:hover {
    transform: scale(1.05); 
}

.carousel-image-1, .carousel-image-2, .carousel-image-3 {
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.carousel-image-1:hover, .carousel-image-2:hover, .carousel-image-3:hover {
    transform: scale(1.05); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); 
}

.card {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
}

 .form-login {
    padding: 50px 0;
    background-color: #fff;
}

.form-login h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #333;
    text-align: center;
}

.form-login form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-login .btn {
    width: 100%;
    margin-top: 10px;
}

.form-login .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.form-login .btn-warning {
    background-color: #ffc107;
    border-color: #ffc107;
}

.form-login .btn-info {
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.form-login .bx {
    font-size: 1.5rem;
    vertical-align: middle;
    margin-right: 10px;
}